[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/git/meta-arm
[submodule "meta-ti"]
	path = meta-ti
	url = https://git.yoctoproject.org/git/meta-ti
[submodule "yocto-docs"]
	path = yocto-docs
	url = https://git.yoctoproject.org/yocto-docs/
