[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/git/meta-arm
[submodule "meta-ti"]
	path = meta-ti
	url = https://git.yoctoproject.org/git/meta-ti
[submodule "yocto-docs"]
	path = yocto-docs
	url = https://git.yoctoproject.org/yocto-docs/
[submodule "meta-containerization"]
	path = meta-containerization
	url = https://github.com/TheYoctoJester/meta-containerization
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = http://git.openembedded.org/meta-openembedded
[submodule "build/bbb/buildhistory"]
	path = build/bbb/buildhistory
	url = https://github.com/smalinux/yocto-buildhistory
